################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Stitch/bin/Debug
/src/Stitch/obj/Debug
/src/Stitch.Test/bin/Debug/wkhtmltopdf
/src/Stitch.Test/bin/Debug/xunit.runner.visualstudio.testadapter.dll
/src/Stitch.Test/bin/Debug/xunit.runner.utility.desktop.dll
/src/Stitch.Test/bin/Debug/xunit.execution.desktop.xml
/src/Stitch.Test/bin/Debug/xunit.execution.desktop.pdb
/src/Stitch.Test/bin/Debug/xunit.execution.desktop.dll
/src/Stitch.Test/bin/Debug/xunit.core.xml
/src/Stitch.Test/bin/Debug/xunit.core.pdb
/src/Stitch.Test/bin/Debug/xunit.core.dll
/src/Stitch.Test/bin/Debug/xunit.assert.xml
/src/Stitch.Test/bin/Debug/xunit.assert.pdb
/src/Stitch.Test/bin/Debug/xunit.assert.dll
/src/Stitch.Test/bin/Debug/xunit.abstractions.dll
/src/Stitch.Test/bin/Debug/Stitch.Tests.pdb
/src/Stitch.Test/bin/Debug/Stitch.Tests.dll
/src/Stitch.Test/bin/Debug/Stitch.pdb
/src/Stitch.Test/bin/Debug/Stitch.dll
/src/Stitch.Test/bin/Debug/NReco.PdfGenerator.dll
/src/Stitch.Test/obj/Debug
/src/.vs/Stitch/v14
/src/Stitch.Test/bin/Debug/Data
/src/Stitch/Stitch.csproj.user
/src/Stitch/obj/Release
/src/Stitch.Test/bin/Debug
/src/Stitch.Test/obj/Release
/src/.vs/Stitch/v15/sqlite3
/src/.vs/Stitch/v15
/src/packages/DocumentFormat.OpenXml.2.7.2
