@font-face {
    font-family: firstFont;
    src: url('testFont.eot');
}
@font-face {
    font-family: firstFont;
    src: url('../testFont.eot');
}
@font-face {
    font-family: firstFont;
    src: url('../fonts/testFont.eot');
}

body {
}
